<!DOCTYPE html>
<html lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets	
	============================================= -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Poppins:300,400,500,600,700|PT+Serif:400,400i&display=swap" rel="stylesheet" type="text/css" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="/css/index.css" type="text/css" />
	<link rel="stylesheet" href="/css/sweetalert2.css" type="text/css" />
	<link rel="stylesheet" href="/css/swiper.css" type="text/css" />
	<link rel="stylesheet" href="/css/dark.css" type="text/css" />
	<link rel="stylesheet" href="/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="/css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="/css/custom.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="/css/utils.css" type="text/css" />

	<!-- Document Title
	============================================= -->
	<title>Freigestalter</title>
	<link rel="icon" href="images/icono_freige.png">

</head>

<body class="stretched">

	<a href="mailto:info@freigestalter.ch" class="float" target="_blank">
		<span style="padding: 10px;" class="material-icons md-light md-36">mail</span>
	</a>

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Sección Header
		============================================= -->
		<header id="header" class="full-header transparent-header header oculto" data-sticky-class="not-dark">
			<div id="header-wrap">
				<div class="container">
					<div class="header-row">

						<!-- LOGO -->
						<div id="logo" style="padding-top: 20px; padding-bottom: 20px; border-right-color: transparent !important;">
							<a href="" class="standard-logo" data-dark-logo="images/logo-dark.png">
								<img src="images/freig.svg" alt="Logo Fontis Marketing" style="height: 100px;" />
							</a>
							<a href="" class="retina-logo" data-dark-logo="images/logo-dark@2x.png">
								<img src="images/freig.svg" alt="Logo Fontis Marketing" style="height: 100px;" />
							</a>
						</div>
						<!-- End LOGO -->

						<nav class="primary-menu">
							<ul class="menu-container" style="border-right-color: transparent !important;">
								<li class="menu-item mega-menu">
									<a href="#lk_branding" class="menu-link nb_txt1">BRANDING</a>
								</li>

								<li class="menu-item mega-menu">
									<a href="#lk_diseno_web" class="menu-link nb_txt2">WEBDESIGN</a>
								</li>

								<li class="menu-item mega-menu">
									<a href="#lk_social_media" class="menu-link nb_txt3">SOCIAL MEDIA</a>
								</li>

								<li class="menu-item mega-menu">
									<a href="#lk_email_marketing" class="menu-link nb_txt4">E-MAIL-MARKETING</a>
								</li>

								<li class="menu-item mega-menu">
									<a href="#lk_seo_sem" class="menu-link nb_txt5">SEO & SEM</a>
								</li>

								<li class="menu-item mega-menu">
									<a href="#lk_contacto" class="menu-link nb_txt6">KONTAKT</a>
								</li>

								<li class="menu-item mega-menu ">
									<a id="aleman" class="langch" href="" style="display: inline-block; padding: 14px 5px; box-sizing: border-box; list-style: none;">
										<img src="images/aleman.png" alt="Deutsch" style="width: auto; height: 30px;">
									</a>
									<a id="ingles" class="langen" href="" style="display: inline-block; padding: 14px 5px; box-sizing: border-box; list-style: none;">
										<img src="images/ingles.png" alt="Englisch" style="width: auto; height: 30px;">
									</a>
								</li>
							</ul>
						</nav>

						<form class="top-search-form" action="search.html" method="get">
							<input id="contact_ii" type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter.." autocomplete="off">
						</form>

					</div>
				</div>
			</div>
			<div class="header-wrap-clone"></div>
		</header>
		<!-- Fin sección Header
		============================================= -->

		<!-- Sección Header MOBILE
		============================================= -->
		<div class="secc01">
		<header class="header header_mb">
			<div class="header_wrap_mb">
				<div class="container">
					<div class="header-row">

						<!-- LOGO -->
						<div class="logo_mb" style="border-right-color: transparent !important;">
							<a href="" class="standard-logo" data-dark-logo="images/logo-dark.png" style="visibility: hidden;">
								<img src="images/freig.svg" alt="Logo Fontis Marketing" style="height: 100px;" />
							</a>
						</div>
						<!-- End LOGO -->

						<div id="primary-menu-trigger">
							<svg class="svg-trigger" viewBox="0 0 100 100">
								<path d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"></path>
								<path d="m 30,50 h 40"></path>
								<path d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"></path>
							</svg>
						</div>

						<nav class="primary-menu">
							<ul class="menu-container" style="border-right-color: transparent !important;">
								<li class="menu-item mega-menu">
									<a href="#lk_branding" class="menu-link nb_txt1">BRANDING</a>
								</li>

								<li class="menu-item mega-menu">
									<a href="#lk_diseno_web" class="menu-link"><div class="nb_txt2">WEBDESIGN</div></a>
								</li>

								<li class="menu-item mega-menu">
									<a href="#lk_social_media" class="menu-link"><div class="nb_txt3">SOCIAL MEDIA</div></a>
								</li>

								<li class="menu-item mega-menu">
									<a href="#lk_email_marketing" class="menu-link"><div class="nbf_txt4">E-MAIL-MARKETING</div></a>
								</li>

								<li class="menu-item mega-menu">
									<a href="#lk_seo_sem" class="menu-link nb_txt5"><div class="nb_txt5">SEO & SEM</div></a>
								</li>

								<li class="menu-item mega-menu">
									<a href="#lk_contacto" class="menu-link"><div class="nb_txt6">KONTAKT</div></a>
								</li>

								<li class="menu-item mega-menu">
									<a id="aleman" class="langch" href="" style="display: inline-block; padding: 14px 5px; box-sizing: border-box; list-style: none;">
										<img src="images/aleman.png" alt="Deutsch" style="width: auto; height: 30px;">
									</a>
									<a id="ingles" class="langen" href="" style="display: inline-block; padding: 14px 5px; box-sizing: border-box; list-style: none;">
										<img src="images/ingles.png" alt="Englisch" style="width: auto; height: 30px;">
									</a>
								</li>
							</ul>
						</nav>

						<form class="top-search-form" action="search.html" method="get">
							<input id="contact_iii" type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter.." autocomplete="off">
						</form>

					</div>
				</div>
			</div>
			<div class="header-wrap-clone"></div>
		</header>
		<!-- Fin sección Header MOBILE
		============================================= -->

        <!-- Sección Banner
		============================================= -->
		<div class="secc01a">
		<section id="sec_banner" class="banner_fontis">
			
			<div style="margin: 50px; margin-top: 10px;">

				<div class="row">
					<div class="col-12 col-lg-6">
						<img src="images/freig.svg" alt="Logo Fontis Marketing" class="logo_banner" />
						
						<!-- LINKS DE IDIOMAS -->
						<div id="lks_idiomas">
							<a id="aleman" class="langch" href="" style="display: inline-block; padding: 14px 5px; box-sizing: border-box; list-style: none;">
								<img src="images/aleman.png" alt="Deutsch" style="width: auto; height: 30px;">
							</a>
							<a id="ingles" class="langen" href="" style="display: inline-block; padding: 14px 5px; box-sizing: border-box; list-style: none;">
								<img src="images/ingles.png" alt="Englisch" style="width: auto; height: 30px;">
							</a>
						</div>
					</div>

					<div class="col-12 col-lg-6" id="banner_links">
						<div>
							<a href="#lk_branding"><h2 class="link_banner nb_txt1 mtitles mtitlesa" style="margin-bottom: -25px;">BRANDING</h2></a>
						</div>

						<div style="padding-top: 10px;">
							<a href="#lk_diseno_web"><h2 class="link_banner nb_txt2 mtitles mtitlesa" style="margin-bottom: -25px;">WEBDESIGN</h2></a>
						</div>
		
						<div>
							<a href="#lk_social_media"><h2 class="link_banner nb_txt3 mtitles mtitlesa" style="margin-bottom: -25px;">SOCIAL MEDIA</h2></a>
						</div>
		
						<div>
							<a href="#lk_email_marketing"><h2 class="link_banner nb_txt4 mtitles mtitlesa" style="margin-bottom: -25px;">E-MAIL-MARKETING</h2></a>
						</div>
		
						<div>
							<a href="#lk_seo_sem"><h2 class="link_banner nb_txt5 mtitles mtitlesa" style="margin-bottom: -25px;">SEO & SEM</h2></a>
						</div>

						<div>
							<a href="#lk_contacto"><h2 class="link_banner nb_txt6 mtitles" style="margin-bottom: 0px;color: #000">KONTAKT</h2></a>
						</div>

					</div>
				</div>

			</div>

		</section>
		</div>
		</div>
        <!-- FIN Sección Banner
		============================================= -->

		<!-- Content
		============================================= -->
		<section id="content">

			<!-- Sección Servicios
			============================================= -->

			<!-- ******************** BRANDING ******************** -->
			<div id="collapse" class="show">
				<div style="position: relative;" id="lk_branding" class="sec_branding">
				<div class="servicio_bg" style="background-image: url(../images/secciones/branding/Branding-1920-px-x-674px.jpg);"></div>
				<div class="row" style="margin-right: 0px;position: inherit;">
					<div class="col-12 col-lg-6" style="background-color: #eeeeecde;">
						<h3 class="nb_txt1 stitles" style="margin-left: 60px; margin-top: 50px; margin-bottom: -20px;font-weight: 500;">
							BRANDING					
						</h3>
						<p class="prr_servicios_izq sec1txt">
							Unter Branding verstehen wir den Prozess der Schaffung einer ansprechenden, positiven Wahrnehmung eines Unternehmens, seiner Produkte oder Dienstleistungen in den Köpfen der Kunden. Dies erreichen wir durch die Entwicklung eines einheitlichen Themas, welches Einfluss auf die gesamte Marketingkommunikation nimmt und so Logo, Design und Leitbild prägt.
						</p>
						<input type="button" class="button btn_servicio_azul btn_cont_margins nb_txt6" id="btnBranding" value="MIETEN"/>
						<a href="" class="button btn_servicio_azul_2 btn_proy_margins" style="font-size: 22px !important;">PROJEKTE</a>
					</div>
					<div class="col-12 col-lg-6"></div>
					</div>
				</div>
			</div>
			<div id="otherdiv" class="hide">
			<div style="position: relative;" class="sec_branding_serv ">
				<div class="servicio_bg" style="background-image: url(../images/secciones/branding/Branding-1920-px-x-674px.jpg);"></div>

				<div style="position: relative; padding-left: 25px; padding-top: 30px;">
					<input type="button" style="font-size: 18px !important; padding: 12px 40px !important;" class="button btn_servicio_azul_2 btn_volver" id="btnBrandingback" value="ZURÜCK"/>

				</div>

				<div class="row" style="margin-right: 0px; padding-left: 30px; padding-right: 17px;">

					<div class="col-12 col-sm-12 col-md-6 col-lg-3" style="padding-top: 30px; padding-bottom: 30px;">
						<div style="background-color: #eeeeecf0; padding: 15px; text-align: center;min-height: 100%;">
							<div class="pakketcontent">
							<h4 style="margin-top: -5px; margin-bottom: 5px; font-size: 40px; font-weight: 500; text-align: center; color: #296e6a;">
								I
							</h4>
							<h3 style="margin-bottom: 0px; font-size: 45px; font-weight: 500; text-align: center;">
								Sihl
							</h3>
							
							<h4 style="margin-top: -5px; margin-bottom: 5px; font-size: 40px; font-weight: 500; text-align: center; color: #296e6a;">
								1'250 Sfr.
							</h4>

							<p id="pbranding_1a" style="font-size: 20px; font-weight: 600; color: #000; text-align: justify !important; padding: 0px 25px;">
								Die perfekte Wahl für neu gegründete kleine Unternehmen, welche mit ihrem Branding noch am Anfang stehen oder für bestehende Firmen, die ihre Identität respektive ihr Erscheinungsbild anpassen möchten. 
							</p>

							<p id="pbranding_1b" style="font-size: 20px; font-weight: 600; color: #000; text-align: left !important; padding: 0px 25px;">
								Es beinhaltet:<br/>
								<b style="font-size: 20px;">
									<i class="fas fa-check"></i> Logo Neugestaltung 
								</b><br/>
							</p>
						</div>
							<div class="buttondiv">
								<div class="pricing-action">
								  <center><input type="button" style="margin-bottom: 10px;" class="button btn_servicio_azul btn_kontakt" id="btnBrand_K1" value="KONTAKT"/></center>
								</div>
							</div>


							
						</div>
					</div>

					<div class="col-12 col-sm-12 col-md-6 col-lg-3" style="padding-top: 30px; padding-bottom: 30px;">
						<div style="background-color: #eeeeecf0; padding: 15px; text-align: center;min-height: 100%;">
							<div class="pakketcontent">
							<h4 style="margin-top: -5px; margin-bottom: 5px; font-size: 40px; font-weight: 500; text-align: center; color: #296e6a;">
								II
							</h4>
							<h3 style="margin-bottom: 0px; font-size: 45px; font-weight: 500; text-align: center;">
								Limmat
							</h3>
							
							<h4 style="margin-top: -5px; margin-bottom: 5px; font-size: 40px; font-weight: 500; text-align: center; color: #296e6a;">
								2'350 Sfr.
							</h4>

							<p id="pbranding_2a" style="font-size: 20px; font-weight: 600; color: #000; text-align: justify !important; padding: 0px 25px;">
								Wenn Sie alle Möglichkeiten nutzen möchten, um Ihre Markenidentität zu fördern, ist dies der erste Schritt, den Sie machen sollten. 
							</p>
							
							<p id="pbranding_2b" style="font-size: 20px; font-weight: 600; color: #000; text-align: left !important; padding: 0px 25px;">
								Es umfasst: <br/>
								<b style="font-size: 20px;">
									<i class="fas fa-check"></i> Logo Umgestaltung
								</b><br/>
								<b style="font-size: 20px;">
									<i class="fas fa-check"></i> Basis-Büromaterial mit Logo-Druck
								</b>
							</p>
						</div>
							<div class="buttondiv">
								<div class="pricing-action">
								  <center><input type="button" style="margin-bottom: 10px;" class="button btn_servicio_azul btn_kontakt" id="btnBrand_K2" value="KONTAKT"/></center>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12 col-sm-12 col-md-6 col-lg-3" style="padding-top: 30px; padding-bottom: 30px;">
						<div style="background-color: #eeeeecf0; padding: 15px; text-align: center;min-height: 100%;">
							<div class="pakketcontent">
							<h4 style="margin-top: -5px; margin-bottom: 5px; font-size: 40px; font-weight: 500; text-align: center; color: #296e6a;">
								III
							</h4>
							<h3 style="margin-bottom: 0px; font-size: 45px; font-weight: 500; text-align: center;">
								Aare
							</h3>
							
							<h4 style="margin-top: -5px; margin-bottom: 5px; font-size: 40px; font-weight: 500; text-align: center; color: #296e6a;">
								5'150 Sfr.
							</h4>

							<p id="pbranding_3a" style="font-size: 20px; font-weight: 600; color: #000; text-align: justify !important; padding: 0px 25px;">
								Ideal für Unternehmen, die eine professionelle Markenidentität aufbauen wollen.
							</p>
							
							<p id="pbranding_3b" style="font-size: 20px; font-weight: 600; color: #000; text-align: left !important; padding: 0px 25px; margin-top: 60px;">
								Es beinhaltet: <br/>
								<b style="font-size: 20px;">
									<i class="fas fa-check"></i> Logo Umgestaltung
								</b><br/>
								<b style="font-size: 20px;">
									<i class="fas fa-check"></i> Markenhandbuch
								</b>
							</p>
							</div>
							<div class="buttondiv">
								<div class="pricing-action">
								  <center><input type="button" style="margin-bottom: 10px;" class="button btn_servicio_azul btn_kontakt" id="btnBrand_K3" value="KONTAKT"/></center>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12 col-sm-12 col-md-6 col-lg-3" style="padding-top: 30px; padding-bottom: 30px;">
						<div style="background-color: #eeeeecf0; padding: 15px; text-align: center;min-height: 100%;">
							<div class="pakketcontent">
							<h4 style="margin-top: -5px; margin-bottom: 5px; font-size: 40px; font-weight: 500; text-align: center; color: #296e6a;">
								IV
							</h4>
							<h3 style="margin-bottom: 0px; font-size: 45px; font-weight: 500; text-align: center;">
								Rhein
							</h3>
							<h4 style="visibility: hidden ;margin-top: -5px; margin-bottom: 5px; font-size: 40px; font-weight: 500; text-align: center; color: #296e6a;">
								5,150 Sfr.
							</h4>

							<p id="pbranding_4a" style="font-size: 20px; font-weight: 600; color: #000; text-align: left !important; padding: 0px 25px; margin-bottom: 120px;">
								Teilen Sie uns Ihre Bedürfnisse und Anforderungen mit, damit wir Ihnen ein massgeschneidertes Angebot unterbreiten können. 
							</p>
						</div>
							<div class="buttondiv">
								<div class="pricing-action">
								  <center><input type="button" style="margin-bottom: 10px;" class="button btn_servicio_azul btn_kontakt" id="btnBrand_K4" value="KONTAKT"/></center>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
			






			<!-- ******************** FIN BRANDING ******************** -->


			<!-- ******************** DISEÑO WEB ******************** -->
			<div id="collapse2" class="show">
			<div style="position: relative;" id="lk_diseno_web" class="sec_dis_web">
				<div class="servicio_bg" id="diseno_bg" style="background-image: url(../images/secciones/diseno_web/Web-site-1920px-x-509px.jpg);"></div>
				<div class="row" style="margin-right: 0px;">
					<div class="col-12 col-lg-6"></div>
					<div class="col-12 col-lg-6" style="text-align: right; background-color: #296e6adb;">
						<h3 class="nb_txt2 mtitles btitle stitles" style="margin-right: 60px; margin-top: 50px; margin-bottom: -20px;font-weight: 500; color: #000;">
							WEBDESIGN
						</h3>
						<p class="prr_servicios_der sec2txt">
							Webdesign verbindet visuelle und textliche Elemente mit dem Ziel, die Identität Ihrer Organisation zu vermitteln. Die Produkte oder Dienstleistungen werden dabei auf eine möglichst angenehme und für die Zielgruppe zugängliche Weise präsentiert.
						</p>
						<input type="button" class="button btn_servicio_azul btn_cont_margins nb_txt6" id="btnDisenoWeb" value="MIETEN"/>
						<a href="" class="button btn_servicio_blanco_2 btn_proy_margins_2" style="font-size: 22px !important;">PROJEKTE</a>
					</div>
				</div>
			</div>
			</div>
			<!-- ******************** FIN DISEÑO WEB ******************** -->

			<!-- ******************** SERVICIOS DISEÑO WEB ******************** -->
			<div id="otherdiv2" class="hide">
			<div style="position: relative;" class="sec_dis_web_serv">
				<div class="servicio_bg" style="background-image: url(../images/secciones/diseno_web/Web-site-1920px-x-509px.jpg);"></div>

				<div style="position: relative; padding-left: 25px; padding-top: 30px;">
					<input type="button" style="font-size: 18px !important; padding: 12px 40px !important;" class="button btn_servicio_azul_2" id="btn_Volver_Paqu_Web" value="ZURÜCK"/>
				</div>

				<div class="row" style="margin-right: 0px; padding-left: 30px; padding-right: 17px;">

					<div class="col-12 col-sm-12 col-md-6 col-lg-3" style="padding-top: 30px; padding-bottom: 30px;min-height: 100%;">
						<div style="background-color: #296e6adb; padding: 15px; text-align: center;" class="servicio_diseno_web">
							<h4 style="margin-top: -5px; margin-bottom: 5px; font-size: 40px; font-weight: 500; text-align: center; color: #d4d0c7;">
								I
							</h4>
							<h3 style="margin-bottom: 0px; font-size: 2.2rem; font-weight: 500; text-align: center; color: #000;">
								Hönggerberg
							</h3>
							
							<h4 style="margin-top: -5px; margin-bottom: 5px; font-size: 40px; font-weight: 500; text-align: center; color: #d4d0c7;">
								1'250 Sfr.
							</h4>

							<p id="pdiseno_1a" style="font-size: 20px; font-weight: 500; color: #eeeeec; text-align: justify !important; padding: 0px 25px;">
								Die beste Wahl für neue Unternehmen auf dem Markt.
							</p>

							<p id="pdiseno_1b" style="font-size: 20px; font-weight: 500; color: #eeeeec; text-align: justify !important; padding: 0px 25px;" class="mt_p">
								Es beinhaltet: <br/>
								<span style="font-size: 20px; color: #eeeeec;font-weight: 200 !important;">
									<i class="fas fa-check"></i> Landingpage / Zielseite
								</span>
							</p>
							<div class="buttondiv">
								<div class="pricing-action">
								  <center><a href="" class="button btn_servicio_blanco btn_kontakt" style="margin-bottom: 10px;">Kontakt</a></center>
								</div>
							</div>
							
						</div>
					</div>

					<div class="col-12 col-sm-12 col-md-6 col-lg-3" style="padding-top: 30px; padding-bottom: 30px;;min-height: 100%;">
						<div style="background-color: #296e6adb; padding: 15px; text-align: center;" class="servicio_diseno_web">
							<h4 style="margin-top: -5px; margin-bottom: 5px; font-size: 40px; font-weight: 500; text-align: center; color: #d4d0c7;">
								II
							</h4>
							<h3 style="margin-bottom: 0px; font-size: 2.2rem; font-weight: 500; text-align: center; color: #000;">
								Üetliberg
							</h3>
							
							<h4 style="margin-top: -5px; margin-bottom: 5px; font-size: 40px; font-weight: 500; text-align: center; color: #d4d0c7;">
								2'350 Sfr.
							</h4>

							<p id="pdiseno_2a" style="font-size: 20px; font-weight: 500; color: #eeeeec; text-align: justify !important; padding: 0px 25px;">
								Ideal für Unternehmen, die eine direkte Botschaft auf einer einzigen Seite vermitteln wollen. Der Hauptvorteil ist die Einfachheit.
							</p>
							
							<p id="pdiseno_2b" style="font-size: 20px; font-weight: 500; color: #eeeeec; text-align: left !important; padding: 0px 25px;margin-bottom: 12vh;" class="mt_p">
								Es beinhaltet: <br/>
								<span style="font-size: 20px; color: #eeeeec;font-weight: 200 !important;">
									<i class="fas fa-check"></i> einseitige Webseite
								</span>
							</p>
							<div class="buttondiv">
								<div class="pricing-action">
								  <center><a href="" class="button btn_servicio_blanco btn_kontakt" style="margin-bottom: 10px;">Kontakt</a></center>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12 col-sm-12 col-md-6 col-lg-3" style="padding-top: 30px; padding-bottom: 30px;;min-height: 100%;">
						<div style="background-color: #296e6adb; padding: 15px; text-align: center;" class="servicio_diseno_web">
							<h4 style="margin-top: -5px; margin-bottom: 5px; font-size: 40px; font-weight: 500; text-align: center; color: #d4d0c7;">
								III
							</h4>
							<h3 style="margin-bottom: 0px; font-size: 2.2rem; font-weight: 500; text-align: center; color: #000;">
								Matterhorn
							</h3>
							
							<h4 style="margin-top: -5px; margin-bottom: 5px; font-size: 40px; font-weight: 500; text-align: center; color: #d4d0c7;">
								5'150 Sfr.
							</h4>

							<p id="pdiseno_3a" id="" style="font-size: 20px; font-weight: 500; color: #eeeeec; text-align: justify !important; padding: 0px 25px;">
								Die beste Wahl für Unternehmen, die ihre Produkte oder Dienstleistungen online verkaufen wollen.
							</p>
							
							<p id="pdiseno_3b" style="font-size: 20px; font-weight: 200; color: #eeeeec; text-align: justify !important; padding: 0px 25px;" class="mt_p">
								Es beinhaltet: <br/>
								<span style="font-size: 20px; color: #eeeeec;font-weight: 200 !important;">
									<i class="fas fa-check"></i> Webseite
								</span><br/>
								<span style="font-size: 20px; color: #eeeeec;font-weight: 200 !important;">
									<i class="fas fa-check"></i> E-Commerce
									
								</span>

							</p>
							<div class="buttondiv">
								<div class="pricing-action">
								  <center><a href="" class="button btn_servicio_blanco btn_kontakt" style="margin-bottom: 10px;">Kontakt</a></center>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12 col-sm-12 col-md-6 col-lg-3" style="padding-top: 30px; padding-bottom: 30px;;min-height: 100%;">
						<div style="background-color: #296e6adb; padding: 15px; text-align: center;" class="servicio_diseno_web">
							<h4 style="margin-top: -5px; margin-bottom: 5px; font-size: 40px; font-weight: 500; text-align: center; color: #d4d0c7;">
								IV
							</h4>
							<h3 style="margin-bottom: 0px; font-size: 2.2rem; font-weight: 500; text-align: center; color: #000;">
								Dufourspitze
							</h3>
							
							<h4 style="visibility: hidden; margin-top: -5px; margin-bottom: 5px; font-size: 40px; font-weight: 500; text-align: center; color: #d4d0c7;">
								- Sfr.
							</h4>

							<p id="pdiseno_4a" style="font-size: 20px; font-weight: 500; color: #eeeeec; text-align: justify !important; padding: 0px 25px; margin-bottom: 60px;">
								Wenn Sie ein individuelles Angebot benötigen, rufen Sie uns einfach an oder schicken Sie uns eine Nachricht. Wir beraten Sie gerne persönlich.
							</p>
							<div class="buttondiv">
								<div class="pricing-action">
								  <center><a href="" class="button btn_servicio_blanco btn_kontakt" style="margin-bottom: 10px;">Kontakt</a></center>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			</div>
			<!-- ******************** FIN SERVICIOS DISEÑO WEB ******************** -->

			<!-- ******************** SOCIAL MEDIA ******************** -->
			<div id="collapse3" class="show">
			<div style="position: relative;" id="lk_social_media" class="sec_social_media">
				<div class="servicio_bg" id="social_bg" style="background-image: url(../images/secciones/social_media/Social-media-1920px-x-584px.jpg);"></div>
				<div class="row" style="margin-right: 0px;">
					<div class="col-12 col-lg-6" style="background-color: #ffffffde;">
						<h3 class="nb_txt3 mtitles btitle stitles" style="margin-left: 60px; margin-top: 50px; margin-bottom: -20px; font-weight: 500;">
							SOCIAL MEDIA
						</h3>
						<p class="prr_servicios_izq sec3txt">
							Die sozialen Medien werden in unserem Leben immer allgegenwärtiger. Mit dem richtigen Ansatz können wir das Beste aus ihnen herausholen. Darauf ankommend, ob wir einfach nur präsent sein wollen, oder eine Online-Gemeinschaft aufbauen, entwickeln wir mit Ihnen die richtige Strategie und setzen diese um.
						</p>
						<input type="button" class="button btn_servicio_azul btn_cont_margins nb_txt6" id="btnSocial" value="MIETEN"/>
						<a href="" class="button btn_servicio_azul_2 btn_proy_margins" style="font-size: 22px !important;">PROJEKTE</a>
						
					</div>
					<div class="col-12 col-lg-6"></div>
				</div>
			</div>
			</div>
			<!-- ******************** FIN SOCIAL MEDIA ******************** -->

			<!-- ******************** SOCIAL MEDIA SEVICIOS ******************** -->
			<div id="otherdiv3" class="hide">
			<div style="position: relative;" class="sec_social_media_serv">
				<div class="servicio_bg" style="background-image: url(../images/secciones/social_media/Social-media-1920px-x-584px.jpg);"></div>
				
				<div style="position: relative; padding-left: 25px; padding-top: 30px;">
					<input type="button" style="font-size: 18px !important; padding: 12px 40px !important;" class="button btn_servicio_azul_2" id="btn_Volver_Paqu_Social" value="ZURÜCK"/>
				</div>

				<div class="row" style="margin-right: 0px; padding-left: 30px; padding-right: 17px;">

					<div class="col-12 col-sm-12 col-md-6 col-lg-3" style="padding-top: 30px; padding-bottom: 30px;">
						<div style="background-color: #eeeeecde; padding: 15px; text-align: center;" class="servicio_social_media">
							<h4 style="margin-top: -5px; margin-bottom: 5px; font-size: 40px; font-weight: 500; text-align: center; color: #296e6a;">
								I
							</h4>
							<h3 style="margin-bottom: 0px; font-size: 2.2rem; font-weight: 500; text-align: center;">
								Greifensee
							</h3>
							
							<h4 id="psocial_1t" style="margin-top: -5px; margin-bottom: 5px; font-size: 40px; font-weight: 500; text-align: center; color: #296e6a;">
								1'250 Sfr. pro Monat
							</h4>

							<p id="psocial_1a" style="font-size: 20px; font-weight: 600; color: #000; text-align: justify !important; padding: 0px 20px;">
								Starten Sie Ihre Social-Media-Präsenz.
							</p>

							<p id="psocial_1b" style="color: #000; text-align: justify !important; padding: 0px 5px;" class="mt_p psocial">
								Es beinhaltet: <br/>
								<b>
									<i class="fas fa-check"></i> Gestalten und Verfassen von 4 massgeschneiderten Posts pro Monat in einem sozialen Netzwerk
								</b><br/>
								<b>
									<i class="fas fa-check"></i> Foto-Shootings
								</b><br/>
								<b>
									<i class="fas fa-check"></i> Monatliche Berichte
								</b><br/>
								<b>
									<i class="fas fa-check"></i> 100 Sfr. pro Monat Budget für Social-Media Werbung
								</b>
							</p>
							<div class="buttondiv">
								<div class="pricing-action">
								  <center><a href="" class="button btn_servicio_azul btn_kontakt" style="margin-bottom: 10px;">Kontakt</a></center>
								</div>
							</div>
							
						</div>
					</div>

					<div class="col-12 col-sm-12 col-md-6 col-lg-3" style="padding-top: 30px; padding-bottom: 30px;">
						<div style="background-color: #eeeeecde; padding: 15px; text-align: center;" class="servicio_social_media">
							<h4 style="margin-top: -5px; margin-bottom: 5px; font-size: 40px; font-weight: 500; text-align: center; color: #296e6a;">
								II
							</h4>
							<h3 style="margin-bottom: 0px; font-size: 2.2rem; font-weight: 500; text-align: center;">
								Zürichsee
							</h3>
							
							<h4 id="psocial_2t" style="margin-top: -5px; margin-bottom: 5px; font-size: 40px; font-weight: 500; text-align: center; color: #296e6a;">
								2'350 Sfr. pro Monat
							</h4>

							<p id="psocial_2a" style="font-size: 20px; font-weight: 600; color: #000; text-align: justify !important; padding: 0px 20px;">
								Ideal für kleine und mittlere Unternehmen.
							</p>
							
							<p id="psocial_2b" class="psocial mt_p" style="color: #000; text-align: justify !important; padding: 0px 5px;">
								Es beinhaltet: <br/>
								<b >
									<i class="fas fa-check"></i> Gestalten und Verfassen von 8 massgenschneiderten Posts pro Monat in einem sozialen Netzwerk
								</b><br/>
								<b >
									<i class="fas fa-check"></i> Erstellen von 4 individuellen Stories pro Monat
								</b><br/>
								<b >
									<i class="fas fa-check"></i> Verwaltung der Community
								</b><br/>
								<b >
									<i class="fas fa-check"></i> Foto-Shootings
								</b><br/>
								<b >
									<i class="fas fa-check"></i> Monatliche Berichte
								</b><br/>
								<b >
									<i class="fas fa-check"></i> 200 Sfr. pro Monat Budget für Social-Media Werbung
								</b>
							</p>
							<div class="buttondiv">
								<div class="pricing-action">
								  <center><a href="" class="button btn_servicio_azul btn_kontakt" style="margin-bottom: 10px;">Kontakt</a></center>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12 col-sm-12 col-md-6 col-lg-3" style="padding-top: 30px; padding-bottom: 30px;">
						<div style="background-color: #eeeeecde; padding: 15px; text-align: center;" class="servicio_social_media">
							<h4 style="margin-top: -5px; margin-bottom: 5px; font-size: 40px; font-weight: 500; text-align: center; color: #296e6a;">
								III
							</h4>
							<h3 id="vierwald" style="margin-bottom: 0px; font-size: 2.2rem; font-weight: 500; text-align: center;">
								Vierwaldstättersee
							</h3>
							
							<h4 id="psocial_3t" style="margin-top: -5px; margin-bottom: 5px; font-size: 40px; font-weight: 500; text-align: center; color: #296e6a;">
								5'150 Sfr. pro Monat
							</h4>

							<p id="psocial_3a" style="font-size: 20px; font-weight: 600; color: #000; text-align: justify !important; padding: 0px 20px;">
								Ideal für eine mittelgrosse Unternehmung.
							</p>
							
							<p id="psocial_3b" class="psocial mt_p" style="color: #000; text-align: justify !important; padding: 0px 5px;">
								Darin enthalten: <br/>
								<b >
									<i class="fas fa-check"></i> Gestalten und Verfassen von 12 massgeschneiderten Social Media Posts pro Monat
								</b><br/>
								<b >
									<i class="fas fa-check"></i> Erstellen von 8 individuellen Posts pro Monat
								</b><br/>
								<b >
									<i class="fas fa-check"></i> Verwaltung der Community
								</b><br/>
								<b >
									<i class="fas fa-check"></i> Foto-Shootings
								</b><br/>
								<b >
									<i class="fas fa-check"></i> Monatliche Berichte
								</b><br/>
								<b >
									<i class="fas fa-check"></i> 400 Sfr. pro Monat Budget für Social-Media Werbung
								</b>
							</p>
							<div class="buttondiv">
								<div class="pricing-action">
								  <center><a href="" class="button btn_servicio_azul btn_kontakt" style="margin-bottom: 10px;">Kontakt</a></center>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12 col-sm-12 col-md-6 col-lg-3" style="padding-top: 30px; padding-bottom: 30px;">
						<div style="background-color: #eeeeecde; padding: 15px; text-align: center;" class="servicio_social_media">
							<h4 style="margin-top: -5px; margin-bottom: 5px; font-size: 40px; font-weight: 500; text-align: center; color: #296e6a;">
								IV
							</h4>
							<h3 style="margin-bottom: 0px; font-size: 2.2rem; font-weight: 500; text-align: center;">
								Bodensee
							</h3>
							
							<h4 id="psocial_4t" style="visibility: hidden; margin-top: -5px; margin-bottom: 5px; font-size: 40px; font-weight: 500; text-align: center; color: #d7a601;">
								_ _ _ _ _ _ _ _ _ Sfr.
							</h4>

							<p  id="psocial_4a" style="font-size: 20px; font-weight: 600; color: #000; text-align: justify !important; padding: 0px 20px;" class="mb_p4">
								Wenn Ihre Unternehmung eine massgeschneiderte Lösung benötigt, lassen Sie es uns wissen und wir werden Ihnen ein entsprechendes Angebot unterbreiten.
							</p>
							<div class="buttondiv">
								<div class="pricing-action">
								  <center><a href="" class="button btn_servicio_azul btn_kontakt" style="margin-bottom: 10px;">Kontakt</a></center>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			</div>
			<!-- ******************** FIN SOCIAL MEDIA SEVICIOS ******************** -->

			<!-- ******************** EMAIL MARKETING ******************** -->
			<div style="position: relative;" id="lk_email_marketing">
				<div class="servicio_bg" id="email_bg" style="background-image: url(../images/secciones/email_marketing/E-MAIL-Marketing-1920px-x-509px.jpg);"></div>
				<div class="row" style="margin-right: 0px;">
					<div class="col-12 col-lg-6"></div>
					<div class="col-12 col-lg-6" style="text-align: right; background-color: #296e6adb;">
						<h3 class="nb_txt4 mtitles btitle stitles" style="margin-right: 60px; margin-top: 50px; margin-bottom: -20px; font-weight: 500; color: #000;">
							E-MAIL-MARKETING
						</h3>
						<p class="prr_servicios_der sec4txt">
							Dies ist die effektivste Art, Schweizer Unternehmen anzusprechen. Mit der richtigen Strategie, dem passenden Text, ansprechenden Bildern und der überzeugenden Online-Präsenz haben Sie die Möglichkeit, Ihre Zielgruppe zu erreichen.
						</p>
						<a href="#lk_contacto" id="btnMarketing" class="button btn_servicio_blanco nb_txt6" style="margin-right: 60px; margin-bottom: 80px;">MIETEN</a>
					</div>
				</div>
			</div>
			<!-- ******************** FIN EMAIL MARKETING ******************** -->

			<!-- ******************** SEO SEM ******************** -->
			<div style="position: relative;" id="lk_seo_sem">
				<div class="servicio_bg" id="seosem_bg" style="background-image: url(../images/secciones/seo_sem/SEO-&-SEM-1920px-x-439px.jpg); background-position: top center;"></div>
				<div class="row" style="margin-right: 0px;">
					<div class="col-12 col-lg-6" style="background-color: #ffffffde;">
						<h3 class="nb_txt5 mtitles btitle stitles" style="margin-left: 60px; margin-top: 50px; margin-bottom: -20px; font-weight: 500;">
							SEO & SEM
						</h3>
						<p class="prr_servicios_izq sec5txt">
							Die Positionierung in Google ist zentral. Wir positionieren Ihren Firmen-Auftritt gemäss Ihren Wünschen und Anforderungen.
						</p>
						<a href="#lk_contacto" id="btnSeo" class="button btn_servicio_azul btn_cont_margins nb_txt6">MIETEN</a>
					</div>
					<div class="col-12 col-lg-6"></div>
				</div>
			</div>
			<!-- ******************** FIN SEO SEM ******************** -->

			<!-- FIN Sección Servicios
			============================================= -->

			<!-- Sección Equipo
			============================================= -->

			<div id="equipo" class="content-wrap">
				
				<h3 style="text-align: center; font-size: 60px; margin-bottom: 60px; color: #296e6a;" class="s6tl mtitles">Unser Team</h3>

				<div class="row" style="margin: 0 40px;">
					<div class="col-12 col-lg-6 row" style="margin-bottom: 30px; margin-right: 15px; padding-right: 0px;">
						<div class="col-6 col-lg-4" style="padding-right: 0px;">
							<img src="/images/equipo/alejandro.jpg" alt="Alejandro Moscoso" class="foto_equipo">
						</div>
						<div class="col-6 col-lg-8" style="background-color: #296e6a; padding-left: 20px;">
							<h3 class="nombre_equipo mtitles tblack">
								Alejandro
							</h3>
							<p class="cargo_equipo s6txt1">
								Geschäftsführer
							</p>
						</div>
					</div>
					<div class="col-12 col-lg-6 row" style="margin-bottom: 30px; margin-left: 15px; padding-left: 0px;">
						<div class="col-6 col-lg-8" style="background-color: #296e6a; text-align: right; padding-right: 20px;">
							<h3 class="nombre_equipo mtitles tblack">
								Janine
							</h3>
							<p class="cargo_equipo s6txt2">
								Geschäftsführerin
							</p>
						</div>
						<div class="col-6 col-lg-4" style="padding-left: 0px;">
							<img src="/images/equipo/janine.jpg" alt="Alejandro Moscoso" class="foto_equipo">
						</div>
					</div>
				</div>

				<div class="row" style="margin: 0 40px;">
					<div class="col-12 col-lg-6 row" style="margin-bottom: 30px; margin-right: 15px; padding-right: 0px;">
						<div class="col-6 col-lg-4" style="padding-right: 0px;">
							<img src="/images/equipo/david.jpg" alt="Alejandro Moscoso" class="foto_equipo">
						</div>
						<div class="col-6 col-lg-8" style="background-color: #296e6a; padding-left: 20px;">
							<h3 class="nombre_equipo mtitles tblack">
								David
							</h3>
							<p class="cargo_equipo s6txt3">
								Marketing Director
							</p>
						</div>
					</div>
					<div class="col-12 col-lg-6 row" style="margin-bottom: 30px; margin-left: 15px; padding-left: 0px;">
						<div class="col-6 col-lg-8" style="background-color: #296e6a; text-align: right; padding-right: 20px;">
							<h3 class="nombre_equipo mtitles tblack">
								Valentina
							</h3>
							<p class="cargo_equipo s6txt4">
								Grafikdesign Director
							</p>
						</div>
						<div class="col-6 col-lg-4" style="padding-left: 0px;">
							<img src="/images/equipo/valentina.jpg" alt="Alejandro Moscoso" class="foto_equipo">
						</div>
					</div>
				</div>

				<div class="row" style="margin: 0 40px;">
					<div class="col-12 col-lg-6 row" style="margin-bottom: 30px; margin-right: 15px; padding-right: 0px;">
						<div class="col-6 col-lg-4" style="padding-right: 0px;">
							<img src="/images/equipo/pablo.jpg" alt="Alejandro Moscoso" class="foto_equipo">
						</div>
						<div class="col-6 col-lg-8" style="background-color: #296e6a; padding-left: 20px;">
							<h3 class="nombre_equipo mtitles tblack">
							Pablo
							</h3>
							<p class="cargo_equipo s6txt5">
								Front-End-Entwickler
							</p>
						</div>
					</div>
					<div class="col-12 col-lg-6 row" style="margin-bottom: 30px; margin-left: 15px; padding-left: 0px;">
						<div class="col-6 col-lg-8" style="background-color: #296e6a; text-align: right; padding-right: 20px;">
							<h3 class="nombre_equipo mtitles tblack">
								Camilo
							</h3>
							<p class="cargo_equipo s6txt6">
								Grafik Designer
							</p>
						</div>
						<div class="col-6 col-lg-4" style="padding-left: 0px;">
							<img src="/images/equipo/camilo.jpg" alt="Alejandro Moscoso" class="foto_equipo">
						</div>
					</div>
				</div>

				<div class="row" style="margin: 0 40px;">
					<div class="col-12 col-lg-6 row" style="margin-bottom: 30px; margin-right: 15px; padding-right: 0px;">
						<div class="col-6 col-lg-4" style="padding-right: 0px;">
							<img src="/images/equipo/sebastian.jpg" alt="Alejandro Moscoso" class="foto_equipo">
						</div>
						<div class="col-6 col-lg-8" style="background-color: #296e6a; padding-left: 20px;">
							<h3 class="nombre_equipo mtitles tblack">
								Jhoan
							</h3>
							<p class="cargo_equipo s6txt7">
								Junior Full-Stack-Entwickler
							</p>
						</div>
					</div>
					<div class="col-12 col-lg-6 row" style="margin-bottom: 30px; margin-left: 15px; padding-left: 0px;">
						<div class="col-6 col-lg-8" style="background-color: #296e6a; text-align: right; padding-right: 20px;">
							<h3 class="nombre_equipo mtitles tblack">
								Juliana
							</h3>
							<p class="cargo_equipo s6txt8">
								Grafik Designerin
							</p>
						</div>
						<div class="col-6 col-lg-4" style="padding-left: 0px;">
							<img src="/images/equipo/juliana.jpg" alt="Alejandro Moscoso" class="foto_equipo">
						</div>
					</div>
				</div>

			</div>
			
			<!-- FIN Sección Equipo
			============================================= -->

			<!-- Sección Contacto
			============================================= -->
			<div id="lk_contacto" class="bg_contacto" style="background-image: url(images/formContacto.jpg);">
				<div class="content-wrap" style="background-color: #296e6adb;">
					<div class="container">
						
						<h3 style="font-size: 60px; font-weight: 500; margin-bottom: 0px;" class="nb_txt6 mtitles tblack">KONTAKT</h3>

						<div class="row gutter-40 col-mb-80">
							<!-- Postcontent
							============================================= -->
							<div class="postcontent col-lg-9">

								<div class="form-widget">

									<div class="form-result"></div>

									<form class="mb-0" id="template-contactform" name="template-contactform" action="include/form.php" method="post">

										<div class="form-process">
											<div class="css3-spinner">
												<div class="css3-spinner-scaler"></div>
											</div>
										</div>

										<div class="row">
											<div class="col-12 col-md-4 form-group">
												<label for="txtNombre" class="s7lab1">Name</label>
												<input type="text" id="txtNombre" name="txtNombre" value="" class="sm-form-control required forminputs" placeholder="" />
											</div>

											<div class="col-12 col-md-4 form-group">
												<label for="txtTelefono" class="s7lab2">Telefon</label>
												<input type="text" id="txtTelefono" name="txtTelefono" value="" class="sm-form-control forminputs" placeholder="" />
											</div>

											<div class="col-12 col-md-4 form-group">
												<label for="txtEmail" class="s7lab3">E-Mail</label>
												<input type="email" id="txtEmail" name="txtEmail" value="" class="required email sm-form-control forminputs" placeholder="" />
											</div>

											<div class="w-100"></div>

											<div id="form_servselect" class="col-12 form-group">
												<label for="contactservice-select" class="s7lab4">Dienstleistungen</label>
												<select id="contactservice-select" onchange="" name="contactservice-select" class="sm-form-control forminputs">
													<option value="" selected class="s7sel1Opt1">
														Wählen
													</option>
													<option value="BRANDING" class="nb_txt1">
														BRANDING
													</option>
													<option value="WEBDESIGN" class="nb_txt2">
														WEBDESIGN
													</option>
													<option value="SOCIAL MEDIA" class="nb_txt3">
														SOCIAL MEDIA
													</option>
													<option value="E-MAIL-MARKETING" class="nb_txt4">
														E-MAIL-MARKETING
													</option>
													<option value="SEO & SEM" class="nb_txt5">
														SEO & SEM
													</option>
												</select>
											</div>

											<div id="form_angebselect" class="col-12 col-md-6 form-group dissapear">
												<label for="contactservice-select" class="s7lab4b">Angebot</label>
												<select id="contactserviceangebot-select" name="contactserviceangebot-select" class="sm-form-control forminputs">
													<option value="" class="s7sel1Opt1b">
														Wählen
													</option>
													<option id="s2opt1" value="I" class="s7sel2Opt1">
														Angebot I
													</option>
													<option id="s2opt2" value="II" class="s7sel2Opt2">
														Angebot II
													</option>
													<option id="s2opt3" value="III" class="s7sel2Opt3">
														Angebot III
													</option>
													<option id="s2opt4" value="IV" class="s7sel2Opt4">
														Angebot IV
													</option>
												</select>
											</div>

											<div class="w-100"></div>

											<div class="col-12 form-group">
												<label for="contactmessage" class="s7lab5">Nachricht</label>
												<textarea style="height: auto !important;" class="required sm-form-control forminputs" id="contactmessage" name="contactmessage" rows="4" cols="30" placeholder=""></textarea>
											</div>

											<div class="col-12 form-group" style="text-align: right;">
												<button class="button m-0 nb_txt6" id="btnContratar" name="btnContratar">Kontakt</button>
											</div>
										</div>

										<input type="hidden" name="prefix" value="template-contactform-">

									</form>
								</div>

							</div>
							<!-- FIN Postcontent
							============================================= -->

							<!-- Sidebar
							============================================= -->
							<div class="sidebar col-lg-3" style="color: #fff;">

								<div style="margin-bottom: 1rem;" class="m-l">
									<strong class="s7i1">Telefon:</strong>
									<br/>
									+41 (0) 78 947 40 70
									<br/>
									+41 (0) 76 713 45 95
									<br/>
								</div>

								<div style="margin-bottom: 1rem;" class="m-l">
									<strong class="s7i2">Adresse:</strong>
									<br/>
									Freigestalter
									<br/>
									Sumatrastrasse 1
									<br/>
									8006 Zürich
									<br/>
								</div>

								<div style="margin-bottom: 1rem;" class="m-l s7i3">
									<strong>Öffnungszeiten:</strong>
									<br/>
									Montag bis Freitag:
									<br/>
									08:00 - 12:00 / 13:00 - 18:00
									<br/>
								</div>

								<div class="border-0 pt-0 m-l">

									<a href="https://www.instagram.com/freigestalter/" class="social-icon si-small si-dark si-instagram">
										<i class="fab fa-instagram" style="line-height: inherit;"></i>
										<i class="fab fa-instagram" style="line-height: inherit;"></i>
									</a>


									<a href="mailto:info@freigestalter.ch" class="social-icon si-small si-dark si-instagram">
										<i class="fas fa-envelope" style="line-height: inherit;"></i>
										<i class="fas fa-envelope" style="line-height: inherit;"></i>
									</a>

								</div>

							</div>
							<!-- FIN Sidebar
							============================================= -->
						</div>

					</div>

				</div>
			</div>
			<!-- FIN Sección Contacto
			============================================= -->
		</section>
        <!-- FIN Content
		============================================= -->

		<!-- Footer
		============================================= -->
		<footer id="footer" class="dark">

			<!-- Copyrights
			============================================= -->
			<div id="copyrights">
				<div class="container-fluid">
					<div class="row">

						<div class="col-12 col-lg-3">
									<div class="widget clearfix" style="display: flex;justify-content: center;">
										<img src="/images/freig.svg" alt="Image" class="footer-logo">
									</div>
						</div>

						<div class="col-12 col-lg-3">
									<div class="widget clearfix" style="margin-top: 5vh;">
          							<p style="margin:0 !important;text-align: center;font-size: 17px;">Copyrights © 2022 All Rights Reserved.<br> Designed by Freigestalter</p>
									</div>
						</div>
						<div class="col-12 col-lg-6 customcol01">
							<div class="row">
								<div class="widget clearfix" style="margin-bottom: -20px;">
									<div class="copyrights-menu copyright-links clearfix footerquickmenu" style="display:flex;justify-content: center;margin:45px 0px">
											<a href="#lk_branding" id="brandingF" class="smalllink nb_txt1"></a>/
											<a href="#lk_diseno_web" id="disenoF" class="smalllink nb_txt2"></a>/
											<a href="#lk_social_media" id="socialF" class="smalllink nb_txt3"></a>/
											<a href="#lk_email_marketing" id="emailmarkF" class="smalllink nb_txt4"></a>/
											<a href="#lk_seo_sem" id="seoF" class="smalllink nb_txt5"></a>/
											<a href="#lk_contacto" id="contactoF" class="smalllink nb_txt6"></a>
											
									</div>
													</div>
							</div>

							<div class="row justify-content-center">
								<a id="aleman" class="langch" href="" style="display: inline-block; padding: 14px 5px; box-sizing: border-box; list-style: none;">
									<img src="images/aleman.png" alt="Deutsch" style="width: auto; height: 30px;">
								</a>
								<a id="ingles" class="langen" href="" style="display: inline-block; padding: 14px 5px; box-sizing: border-box; list-style: none;">
									<img src="images/ingles.png" alt="Englisch" style="width: auto; height: 30px;">
								</a>
							</div>


												
									</div>
					</div>
					</div>
			</div>
            <!-- FIN Copyrights
			============================================= -->
		</footer>
        <!-- FIN Footer
		============================================= -->

	</div>
    <!-- FIN Document Wrapper
	============================================= -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop">
		<i class="fa-solid fas fa-angle-double-up"></i>
	</div>

	<!-- JavaScripts
	============================================= -->
	<script src="/js/jquery.js"></script>
	<script src="/js/plugins.min.js"></script>

	<!-- SweetAlert
	============================================= -->
	<script src="/js/sweetalert2.min.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="/js/functions.js"></script>
	<script src="/js/index.js"></script>
	<script src="/js/custom.js"></script>
	<script src="/js/lang.js"></script>
	<script>
		function iservangebot(val){
        	console.log("funciona el tales y el valor del select es: "+val);

    	}



	</script>

</body>
</html>